.pienuevo .iconos .fab {
  border-radius: 5px;
}
.pienuevo .iconos .fab:hover {
  background-color: rgba(229, 216, 196, 0.3960784314);
}

@font-face {
  font-family: tipografia;
  src: url("./fonts/arsenicaTrialRegular.ttf");
}
@font-face {
  font-family: tipografia2;
  src: url("./fonts/agrandirNarrow.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
}

#my-nav.navbar {
  background-color: rgba(229, 216, 196, 0.3960784314);
}
#my-nav.navbar .navbar-nav {
  font-family: "tipografia2";
}
#my-nav.navbar .navbar-brand {
  font-family: "tipografia";
  color: #37534c;
}

footer {
  background-color: transparent;
}

.bottoms {
  background-color: transparent;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  justify-content: space-evenly;
}
.bottoms .bottom__bottom2,
.bottoms .bottom__bottom3,
.bottoms .bottom__bottom4 {
  width: 120px;
  font-family: "tipografia2";
  padding: 10px;
  text-align: center;
  display: inline-block;
}
.bottoms .bottom__bottom2 a,
.bottoms .bottom__bottom3 a,
.bottoms .bottom__bottom4 a {
  color: rgb(56, 52, 52);
  text-decoration: none;
  font-size: 80%;
}

.pienuevo {
  display: flex;
  justify-content: center;
  background-color: rgba(229, 216, 196, 0.3960784314);
  color: black;
  padding-block: 20px;
}
.pienuevo .iconos {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.pienuevo .iconos .fab {
  padding: 1rem;
}

.fa-facebook {
  background-color: rgba(0, 0, 255, 0.356);
}

.fa-instagram {
  background-color: rgba(209, 58, 83, 0.363);
}

.fa-whatsapp {
  background-color: rgba(0, 128, 0, 0.315);
}

.main__mundobuze {
  background-color: #476a61;
}
.main__mundobuze .main__home {
  min-height: 100vh;
  padding: 3rem;
}

.titulo__transformando {
  margin-top: 10rem;
  margin-left: 10rem;
  font-family: "tipografia";
  color: #e5d8c4;
}

.imagen__transformando {
  width: 50%;
  border-radius: 2rem;
  margin-left: 5rem;
}

.titulo__creando {
  font-family: "tipografia";
  color: #e5d8c4;
  margin-top: 10rem;
  margin-left: 10rem;
}

.imagen__creando {
  width: 50%;
  border-radius: 2rem;
  margin-left: 5rem;
  margin-top: 5rem;
}

.titulo__inmortalizando {
  font-family: "tipografia";
  color: #e5d8c4;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.texto__inmortalizando {
  font-family: "tipografia2";
  color: #e5d8c4;
  margin-top: 13rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.mano {
  display: flex;
  flex-direction: column;
  padding: 5rem;
}
.mano .titulo__mano {
  grid-area: titulo__mano;
  font-family: "tipografia";
  color: #e5d8c4;
  display: flex;
  flex-direction: column;
  margin-top: 15rem;
  text-align: center;
  font-size: large;
}

@media screen and (max-width: 767px) {
  .titulo__transformando, .titulo__creando, .titulo__inmortalizando {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
.main__productos {
  display: flex;
  background-color: antiquewhite;
  flex-direction: column;
}
.main__productos .anillos {
  display: grid;
  min-height: 80vh;
  background-color: #476a61;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "titulo__anillos   carrusel__anillos";
  z-index: 50;
}
.main__productos .anillos .titulo__anillos {
  font-family: "tipografia";
  color: beige;
  grid-area: titulo__anillos;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200%;
}
.main__productos .anillos .carrusel__anillos {
  grid-area: carrusel__anillos;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
  border-bottom-left-radius: 50rem;
}
.main__productos .anillos .carrusel__anillos .imagenes {
  width: 50%;
}
.main__productos .pulseras {
  display: grid;
  min-height: 100vh;
  background-color: #476a61;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "carrusel__pulseras   titulo__pulseras";
  z-index: 50;
}
.main__productos .pulseras .titulo__pulseras {
  font-family: "tipografia";
  color: beige;
  grid-area: titulo__pulseras;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200%;
}
.main__productos .pulseras .carrusel__pulseras {
  grid-area: carrusel__pulseras;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}
.main__productos .pulseras .imagenes {
  width: 50%;
}
.main__productos .aros {
  display: grid;
  min-height: 100vh;
  background-color: #476a61;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "titulo__aros  carrusel__aros";
  z-index: 50;
}
.main__productos .aros .titulo__aros {
  font-family: "tipografia";
  color: beige;
  grid-area: titulo__aros;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200%;
}
.main__productos .aros .carrusel__aros {
  grid-area: carrusel__aros;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}
.main__productos .aros .imagenes {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .titulo__anillos {
    font-size: 50%;
  }
  .titulo__pulseras {
    font-size: 50%;
  }
  .titulo__aros {
    font-size: 50%;
  }
}
.main__servicios {
  min-height: 100vh;
  display: flex;
  background-color: antiquewhite;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem;
}
.main__servicios .tarjetitas {
  display: flex;
}
.main__servicios .tarjetitas .titulo__servicios {
  text-align: center;
  font-family: "tipografia";
  padding: 1rem;
}
.main__servicios .tarjetitas .card-container {
  border-radius: 2rem;
  padding: 1.5rem;
}
.main__servicios .tarjetitas .card-container:hover {
  transform: scale(1.1);
}
.main__servicios .tarjetitas .card-container .card-hover:hover {
  border: 4px solid green;
  border-radius: 2.3rem;
  transform: scale(1.1);
  transform: scale(1);
}
.main__servicios .tarjetitas .card-container .card-hover .imagenServicios {
  width: 100%;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}
.main__servicios .tarjetitas .card-container .card-hover .texto__servicios {
  background-color: #37534c;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: beige;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.main__servicios .tarjetitas .card-container .card-hover .texto__servicios .titulo__servicios1 {
  font-family: "tipografia";
  text-align: center;
  font-size: 120%;
}
.main__servicios .tarjetitas .card-container .card-hover .texto__servicios .titulo__servicios1::first-letter {
  color: wheat;
  font-size: 1.5rem;
}
.main__servicios .tarjetitas .card-container .card-hover .texto__servicios .texto__servicios1 {
  font-family: "tipografia";
  text-align: right;
}

.main__newin {
  min-height: 100vh;
  display: flex;
  background-color: #476a61;
  flex-direction: column;
  padding: 2.5rem;
  justify-content: center;
  align-items: center;
}
.main__newin .container_newin {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-grow: 1;
}
.main__newin .container_newin .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}
.main__newin .container_newin .row .titulo__newin {
  text-align: center;
  font-family: "tipografia";
  color: #e5d8c4;
}
.main__newin .container_newin .row .card-container {
  flex-grow: 1;
  max-width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__newin .container_newin .row .card-container:hover {
  transform: scale(1.1);
}
.main__newin .container_newin .row .card-container .card-aros-ocaso {
  width: 100%;
}
.main__newin .container_newin .row .card-container .card-aros-ocaso .imagenNewIn {
  width: 100%;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}
.main__newin .container_newin .row .card-container .card-aros-ocaso .texto__newin {
  background-color: beige;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.main__newin .container_newin .row .card-container .card-aros-ocaso .texto__newin .titulo__newin2 {
  color: #37534c;
  text-align: center;
  font-family: "tipografia";
  font-size: 90%;
}
.main__newin .container_newin .row .card-container .card-aros-ocaso:hover {
  border: 4px solid #e5d8c4;
  border-radius: 2.3rem;
}

@media screen and (max-width: 768px) {
  .card-container {
    max-width: 100%;
  }
}
.main__contacto1 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #5d746e;
}
.main__contacto1 .fondo__contacto {
  /* background-color: antiquewhite; */
  /* flex-wrap: wrap; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main__contacto1 .fondo__contacto .titulo__contactanos {
  font-family: "tipografia";
  color: rgb(235, 235, 235);
  text-align: center;
  margin-bottom: 7rem;
  padding-top: 2rem;
}
.main__contacto1 .fondo__contacto .listado__datos {
  font-family: "tipografia2";
  max-width: 100%;
  margin: 0 auto;
  background-color: #e5d8c4;
  border: 3px solid #37534c;
  border-radius: 1rem;
  padding: 3rem;
  list-style-type: none;
  box-sizing: border-box;
  align-content: center;
  transition-property: transform, background-color;
  transition-duration: 1s, 5s;
  transition-delay: 1s, 0s;
}
.main__contacto1 .fondo__contacto .listado__datos:hover {
  transform: rotateZ(15deg) scale(1);
  background-color: rgb(235, 235, 235);
}
.main__contacto1 .fondo__contacto .listado__datos .contacto__datos {
  order: 0;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.contenedorformulario {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 8rem;
  gap: 1rem;
  font-family: "tipografia2";
}

.botonform {
  color: #37534c;
  background-color: #e5d8c4;
}

@media screen and (max-width: 768px) {
  .listado__datos {
    font-size: 80%;
    max-width: 100%;
    padding: 0.5rem;
  }
  .main_contacto1 {
    max-width: 200%;
  }
  .fondo__contacto {
    max-width: 120%;
  }
}/*# sourceMappingURL=style.css.map */