/* @font-face {
    font-family: tipografia;
    src: url("./fonts/arsenicaTrialRegular.ttf");
}

@font-face {
    font-family: tipografia2;
    src: url("./fonts/agrandirNarrow.ttf");
}


* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
} 


  /*NAV BAR  */
/* 
header{
    position: sticky;
    top: 0;
    z-index: 100;
    
}

#my-nav.navbar {
    background-color: #e5d8c465;
}


.navbar-nav {
    font-family: "tipografia2";
}
  
.navbar-brand {
    font-family: "tipografia";
    color: #37534c;
} */
   

/* BOTTOM */

/* 
footer{
    background-color: transparent;
    }
    
.bottoms{
    background-color: transparent;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-evenly;
}
    
.bottom__bottom2,
.bottom__bottom3,
.bottom__bottom4 {
    width: 120px;
    font-family: "tipografia2";
    padding: 10px;
    text-align: center;
    display: inline-block;
}
    
.bottom__bottom2 a,
.bottom__bottom3 a,
.bottom__bottom4 a {
    color: rgb(56, 52, 52);
    text-decoration: none;
    font-size: 80%;
}
     */


/* HOME */

/* .main__mundobuze{
    background-color: #476a61;
}

.main__home {
    min-height: 100vh;
    padding: 3rem;

}



.titulo__transformando{
   
    margin-top: 10rem;

    margin-left: 10rem;

    font-family: "tipografia";

    color: #e5d8c4;
}

.imagen__transformando{
    width: 50%;
    border-radius: 2rem;
    margin-left: 5rem; 
}




.titulo__creando{


    font-family: "tipografia";
    color: #e5d8c4;

    margin-top: 10rem;

    margin-left: 10rem;
}


.imagen__creando{

    width: 50%;
    border-radius: 2rem;
    margin-left: 5rem;
    margin-top: 5rem;
}




.titulo__inmortalizando{

    font-family: "tipografia";
    color: #e5d8c4;
    
    margin-top: 10rem;

    display: flex;
    flex-direction: column;
    
    text-align: center;

}

.texto__inmortalizando{
    font-family: "tipografia2";
    color: #e5d8c4;
    
    margin-top: 13rem;

    display: flex;
    flex-direction: column;
    
    text-align: center;
}



.mano{
    display: flex;
    flex-direction: column;
    padding: 5rem;
}


.titulo__mano{
    grid-area: titulo__mano;

    font-family: "tipografia";
    color: #e5d8c4;
    
    display: flex;
    flex-direction: column;
    margin-top: 15rem;
 
    text-align: center;
    font-size:large;
}

@media screen and (max-width: 767px) {
    .titulo__transformando, .titulo__creando, .titulo__inmortalizando {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    }
    } */

/* @media (max-width: 767px)  */
      


/* SERVICIOS */
/* 
.main.servicios{
    display: flex;
    background-color: antiquewhite;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem;
}

.titulo__servicios{
    text-align: center;
    font-family: "tipografia";
    padding: 1rem;

}

.tarjetitas{
    display: flex;
}


.card-container{
    border-radius: 2rem;
    padding: 1.5rem;

}


.imagen{
    width: 100%;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    
}

.texto__servicios{
    background-color: #37534c;
    padding: 1rem;
    
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: beige;

    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}


.titulo__servicios1{
    font-family: "tipografia";
    text-align: center;
    font-size: 120%;
}


.texto__servicios1{
    font-family: "tipografia";
    text-align: right;

}


.texto__servicios1::first-letter{
    color: wheat;
    font-size: 1.5rem;
}



.card-hover:hover{
    border: 4px solid green;
    border-radius: 2.3rem;
} */



/* PRODUCTOS */

    
/*     
.anillos{
    display: grid;
    min-height: 80vh;
    background-color: #476a61;

    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "titulo__anillos   carrusel__anillos";

    z-index: 50;    
}


.titulo__anillos{
    font-family: "tipografia";
    color: beige;
    grid-area: titulo__anillos;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200%;
}

.carrusel__anillos{
    grid-area: carrusel__anillos;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    border-bottom-left-radius: 50rem;
}

.imagenes{
    width: 50%;
}

.pulseras{
    display: grid;
    min-height: 100vh;
    background-color: #476a61;

    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "carrusel__pulseras   titulo__pulseras";

    z-index: 50; 
}


.titulo__pulseras{
    font-family: "tipografia";
    color: beige;
    grid-area: titulo__pulseras;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200%;
}

.carrusel__pulseras{
    grid-area: carrusel__pulseras;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}


.imagenes{
    width: 50%;
}



.aros{
    display: grid;
    min-height: 100vh;
    background-color: #476a61;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "titulo__aros  carrusel__aros";  
    z-index: 50; 
}


.titulo__aros{
    font-family: "tipografia";
    color: beige;
    grid-area: titulo__aros;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200%;
}

.carrusel__aros{
    grid-area: carrusel__aros;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;

}

.imagenes{
    width: 50%;
}


@media (max-width: 768px){

    .titulo__anillos {
        font-size: 150%;
    }

    .titulo__pulseras {
        font-size: 150%;
    }

    .titulo__aros{
        font-size: 150%;
    }

} */



/* NEW IN */


/* .card-aros-ocaso{
    width: 100%;
    align-items: center;
}

.titulo__newin{
    margin-top: 3rem;
    text-align: center;
    font-family: "tipografia";
    color: #e5d8c4;
}


.main__newin{
    display: flex;
    background-color: #476a61;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem;
}


.card-aros-ocaso:hover{
    border: 4px solid #e5d8c4;
    border-radius: 2.3rem;
}


.texto__newin{
    background-color: beige;
    padding: 1rem;

    
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #37534c;

    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
} */



/* CONTACTO */

/* 
.main__contacto1{
    min-height: 100vh;
}


.fondo__contacto1{
    min-height: 100vh;
    /* background-color: antiquewhite; */
    /* flex-wrap: wrap;
    display: flex;
    justify-content: center;
    box-sizing: border-box; 
    padding: 0rem;


}

.listado__datos{
    background-color: #e5d8c4;
    border: 3px solid  #37534c;
    border-radius: 1rem;
    padding: 1rem;
    list-style-type: none;
    align-items: stretch;
    margin-top: 7rem;
}


.titulo__contactanos{
    text-align: center;
    font-family: "tipografia";
    color:rgb(56, 52, 52);
    margin-top: 3rem;
  
}


.contacto__datos{
    order: 0;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
} */