
.main__mundobuze{
    background-color: #476a61;
    
    display: flex;
    background-color: #476a61;
    flex-direction: column;
    padding: 3rem;
    justify-content: center;
    align-items: center;

    // .main__home {
    //     min-height: 100vh;
    //     padding: 3rem;
    
    // }
}


.transformando{
    display: flex;
    justify-content: center;
    

    .titulo__transformando{
   
        margin-top: 5rem;
    
        margin-left: 10rem;
    
        font-family: "tipografia";
    
        color: #e5d8c4;
    }
}


.transformando__2{
    display: flex;
    justify-content: center;


    .imagen__transformando{
        width: 50%;
        border-radius: 2rem;
    }
}


.creando{
    display: flex;
    justify-content: center;

        .titulo__creando{

            font-size: 230%;
            font-family: "tipografia";
            color: #e5d8c4;
    
            margin-top: 10rem;
    
            margin-left: 15rem;
        }
}


.creando__2{
    display: flex;
    justify-content: center;

    .imagen__creando{
        margin-top: 5rem;
        width: 50%;
        border-radius: 2rem;
        margin-top: 5rem;
    }
}


.inmortalizando{
    flex-direction: column;
    gap: 10rem;

    .titulo__inmortalizando{

        font-family: "tipografia";
        color: #e5d8c4;
        
        margin-top: 10rem;
    
        display: flex;
        flex-direction: column;
        
        text-align: center;
    
    }
    
    .texto__inmortalizando{
        font-family: "tipografia2";
        color: #e5d8c4;
        
        margin-top: 5rem;
    
        display: flex;
        flex-direction: column;
        
        text-align: center;
    }
        
}






.mano{
    display: flex;
    flex-direction: column;
    padding: 5rem;

    .titulo__mano{
        grid-area: titulo__mano;
    
        font-family: "tipografia";
        color: #e5d8c4;
        
        display: flex;
        flex-direction: column;
        margin-top: 15rem;
     
        text-align: center;
        font-size:large;
    }
    
}



@media screen and (max-width: 767px) {
    .transformando {
        .titulo__transformando {
            margin-left: 0;
            margin-right: 0;
            text-align: center;
        }

    }

    .transformando__2 {

        .imagen__transformando {
            margin-left: 0;
            margin-top: 0;
        }
    }


    
    .creando {
        .titulo__creando {
            margin-top: 5rem;
            margin-left: 3rem;
            font-size: 200%;
        }
    }

    .creando__2 {

        .imagen__creando {
            margin-left: 0;
            margin-top: 0rem;
        }
    }
    
}
