.main__newin{
    display: flex;
    background-color: #476a61;
    flex-direction: column;
    padding: 2.5rem;
    justify-content: center;
    align-items: center;
    
    .container_newin{
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        // max-width: 800px;
        align-content: center;

        .row{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 4rem;
    

            .titulo__newin{
                text-align: center;
                font-family: "tipografia";
                color: #e5d8c4;
            }


            .card-container{
                flex-grow: 1;
                max-width: 30%;

                &:hover{
                    transform: scale(1.1);
                }
    
            
                .card-aros-ocaso{
                    width: 100%;

                    .imagenNewIn{
                        width: 100%;
                        border-top-right-radius: 2rem;
                        border-top-left-radius: 2rem;
                    } 

                    .texto__newin{
                        background-color: beige;
                        padding: 1rem;
                    
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;
                        color: #37534c;
                    
                        border-bottom-left-radius: 2rem;
                        border-bottom-right-radius: 2rem;

                        .titulo__newin{
                            color: #37534c;
                            font-size: 80%;
                        }
                    }

                    &:hover{
                        border: 4px solid #e5d8c4;
                        border-radius: 2.3rem;
                    }
                }
            }
        }
    }
}


