.main__productos{
    display: flex;
    background-color: #476a61;
    flex-direction: column;
    gap: 3rem;
    padding: 5rem;

    .titulo__productos{
        text-align: center;
        font-family: "tipografia";
        color: #e5d8c4;
        margin-top: 0;
    }

    .anillos{
        display: grid;
        min-height: 80vh;
        background-color: #476a61;

        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "titulo__anillos   carrusel__anillos";

        z-index: 50;  
        
        .titulo__anillos{
            font-family: "tipografia";
            color: beige;
            grid-area: titulo__anillos;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 250%;
        }

        .carrusel__anillos{
            grid-area: carrusel__anillos;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 50;
            border-bottom-left-radius: 50rem;

            .imagenes{
                width: 50%;
                border-radius: 3rem;
            }
        }
    }



    .pulseras{
        display: grid;
        min-height: 100vh;
        background-color: #476a61;

        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "carrusel__pulseras   titulo__pulseras";

        z-index: 50; 

        .titulo__pulseras{
            font-family: "tipografia";
            color: beige;
            grid-area: titulo__pulseras;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 250%;
        }

        .carrusel__pulseras{
            grid-area: carrusel__pulseras;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 50;
        }

        
        .imagenes{
            width: 50%;
            border-radius: 3rem;
        }
        
    }

    .aros{
        display: grid;
        min-height: 100vh;
        background-color: #476a61;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "titulo__aros  carrusel__aros";  
        z-index: 50; 

        .titulo__aros{
            font-family: "tipografia";
            color: beige;
            grid-area: titulo__aros;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 250%;
        }
        
        .carrusel__aros{
            grid-area: carrusel__aros;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 50;
        }
        .imagenes{
            width: 50%;
            border-radius: 3rem;
        }
    }

}




@media screen and (max-width: 768px) {
    
.main__productos{   
    
    .anillos{
        .titulo__anillos {
            font-size: 150%;
        }
    }

    .pulseras{
        .titulo__pulseras {
            font-size: 150%;
        }
    }

    .aros{
        .titulo__aros{
            font-size: 150%;
        }
    }

}

} 